body {
    position: relative;
    margin: 0;
    padding: 0;
    background: grey;
    overflow: hidden;
}
@media only screen and (orientation: portrait) {
    svg, .sphere, #bkgd, #skyContainer {
        position: absolute;
        width: 100vw;
        height: 100vw;
        margin: 0;
        top: 50vh;
        overflow: hidden;
        transform: translateY(-50%);
    }
    @keyframes rotation {
        from  { transform: rotate(0deg); }
        to    { transform: rotate(360deg); }
    }
}
@media only screen and (orientation: landscape) {
    svg, .sphere, #bkgd, #skyContainer {
        position: absolute;
        height: 100vh;
        width:  100vh;
        margin: 0;
        left: 50vw;
        overflow: hidden;
        transform: translateX(-50%);
    }
    @keyframes rotation {
        from  { transform: rotate(0deg); }
        to    { transform: rotate(360deg); }
    }
}
#title_728 {
    fill: none;
    stroke: skyblue;
    stroke-linecap:round;
    stroke-linejoin:round;
    stroke-dasharray: 43;
    stroke-dashoffset: 43;
}
.phrase {
    font: 5px You Yuan, You Yuan;
    fill: lightgray;
    user-select: none;
}
#bkgd {
    background: #EEEEEE;
}
#shootingStars {
    position: absolute;
    width: 100%;
    height: 100%;
    transform: rotate(125deg)
}
#tapToContinue {
    opacity: 1;
    animation: tapToContinue 3s ease-out alternate infinite;
}
.transparent, .phrase {
    opacity: 0;
}
.sphereMaterial {
    position: absolute;
    top: 15%;
    left: 15%;
    width: 70%;
    height: 70%;
    border-radius: 50%;
    border: none;
}
#sphereMoonTexture {
    background: url("moon.svg");
    background-size: cover;
    background-position: 0 0;
    animation: sphereTexture 30s linear infinite;
}
#sphereEarthTexture {
    background: url("earth.svg");
    background-size: cover;
    background-position: 0 15%;
    animation: sphereTexture 30s linear infinite;
}
#sphereShadow {
    background: black;
    animation: sphereShadow 15s linear alternate infinite;
}
#sphereHalo {
    top: 16%;
    left: 16%;
    width: 68%;
    height: 68%;
    background: white;
    z-index: -1;
    box-shadow: 0 0 10vmin white;
    animation: sphereHalo 10s linear alternate infinite;
}
#nightSky {
    width: 100%;
    height: 100%;
    animation: rotation 320s linear infinite;
}
#stars1 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
        20vmin 10vmin 1px white,
        5vmin  20vmin  white,
        30vmin 30vmin  white,
        40vmin 80vmin  white,
        89vmin 75vmin 1px white,
        75vmin 80vmin 2px white,
        45vmin 20vmin 1px white;
    animation: twinkle 5s alternate infinite;
}
#stars2 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
        10vmin 75vmin 1px white,
        85vmin 30vmin 1px white,
        90vmin 90vmin 1px white,
        20vmin 80vmin  white,
        90vmin 20vmin  white;
    animation: twinkle 3s alternate infinite;
}
#stars3 {
    width: 2px;
    height: 2px;
    background: transparent;
    box-shadow:
        50vmin 80vmin 1px white,
        90vmin 95vmin  white,
        22vmin 35vmin  white,
        60vmin 70vmin 2px white,
        65vmin 20vmin  white;
    animation: twinkle 4s alternate infinite;
}
.eclipseSun {
    background: #FBF0C3;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 70%;
    width: 70%;
    border-radius: 50%;
    box-shadow: 0 0 5vmin 5vmin #FBF0C3;
    animation: eclipseSun 32s linear forwards;
    animation-play-state: paused;
}
.eclipseMoon {
    background: #262728;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    height: 70%;
    width: 70%;
    left: 100%;
    border-radius: 50%;
    -webkit-animation: eclipseMoon 32s linear forwards;
    animation: eclipseMoon 32s linear forwards;
    animation-play-state: paused;
}
.shootingStar {
    position: absolute;
    width: 2px;
    height: 2px;
    background: rgba(255, 255, 255, 0.7);
}
.shootingStar::before {
    position: absolute;
    content: "";
    right: 1px;
    top: 0;
    width: 20vmin;
    height: 1px;
    background: linear-gradient(to right, rgba(0,0,0,0) 0%,rgba(255, 255, 255, 0.7) 100%);
}
.fireworks {
    position: absolute;
    z-index: 20;
}
/* - - - - - - - - - - - - - - - - - - - - - - - - */
@keyframes tapToContinue {
    0%   { fill: #ddd;}
    100%  { fill: black; }
}
@keyframes sphereShadow {
    0%   {box-shadow: inset 3vmin 3vmin 6vmin white;}
    45%  {box-shadow: inset 0vmin 0vmin 6vmin white;}
    55%  {box-shadow: inset 0vmin 0vmin 6vmin white;}
    100% {box-shadow: inset -3vmin 3vmin 6vmin white;}
}
@keyframes sphereHalo {
    0%   {left: 15%;}
    100% {left: 16%;}
}
@keyframes sphereTexture {
    from { background-position-x: 0% }
    to   { background-position-x: 200% }
}
@keyframes twinkle {
    0%, 75%{ opacity: 1 }
    90%, 100% { opacity: 0.4 }
}
@keyframes eclipseMoon {
    0% {
        left: 150%;
        background: #479EE1;
        box-shadow: 0 0 0 0 #479EE1;
    }
    50% {
        left: 50%;
        background: #262728;
        box-shadow: 0 0 10px 10px #262728;
    }
    100% {
        left: -50%;
        background: #479EE1;
        box-shadow: 0 0 0 0 #479EE1;
    }
}
@-webkit-keyframes eclipseMoon {
    0% {
        -webkit-left: 150%;
        left: 150%;
        -webkit-background: #479EE1;
        background: #479EE1;
        -webkit-box-shadow: 0 0 0 0 #479EE1;
        box-shadow: 0 0 0 0 #479EE1;
    }
    50% {
        -webkit-left: 50%;
        -webkit-background: #262728;
        -webkit-box-shadow: 0 0 10px 10px #262728;
        left: 50%;
        background: #262728;
        box-shadow: 0 0 10px 10px #262728;
    }
    100% {
        -webkit-left: -50%;
        -webkit-background: #479EE1;
        -webkit-box-shadow: 0 0 0 0 #479EE1;
        left: -50%;
        background: #479EE1;
        box-shadow: 0 0 0 0 #479EE1;
    }
}
@keyframes eclipseSun {
    0% {
        box-shadow: 0 0 0 0 #ffeda5;
    }
    40%, 46%, 54%, 60% {
        box-shadow: 0 0 2vmin 2vmin #ffeda5;
    }
    50% {
        box-shadow: 0 0 4vmin 4vmin #ffeda5;
    }
    100% {
        box-shadow: 0 0 0 0 #ffeda5;
    }
}